<!-- Will display current locations as well as scheduled and frequent locations -->
<h1>Burrow#places</h1>

<ul>
	<% @locations.each do |location| %>
		<div class='well'>
			<li><%= location.place_name %></li>
			<li><%= location.latitude %></li>
			<li><%= location.longitude %></li>
			<% if location.users == [] %>
				<li>There are no users at this location.</li>
			<% else %>	
				<% location.users.each do |user| %>
					<li><%= user.email %> is at <%= location.place_name %></li>
				<% end %>
			<% end %>
		</div>
	<% end %>
</ul>

